/* CSS RESET */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
  --header-bg-color:#0a0b0b;
}

/* ROOT */
#root {
  background-color: var(--darkreader-neutral-background);
  color: var(--darkreader-neutral-text);
}
html, body, #root {
  height: 100%;;
  font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}