.container {
    flex:1;
    margin-top: 80px;
    width: 100%;
}

.banner {
    width: 100%;
    outline: 1px solid white;
}

.banner > img {
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    outline: 1px solid black;
    gap:10px;
    padding: 10px;
}