.container {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    color: var(--darkreader-neutral-text);
    padding: 20px;
    gap:10px;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}

.sentence {
    padding-left: 10px;
    padding-right: 10px;
}

.name {
    font-size: larger;
    font-weight: bold;
}

.image {
    height: 99999px;
    object-fit:contain;
    max-height: 40vh;
    max-width: 100%;    
    display: block;
    margin: auto auto;
}

.thumb {
    height: 99999px;
    object-fit:contain;
    max-height: 100px;
    max-width: 100%;    
    display: block;
    margin: auto auto;
}

:global(.swiper-slide-visible) {
    opacity: 0.4;
}
:global(.swiper-slide-thumb-active) {
    opacity: 1;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.price {
    font-size: large;
    font-weight: bold;
}

.stock > span {
    font-weight: bold;
}

.activeNav, .nav {
    color: aliceblue;
    text-decoration: none;
}